.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}


.icon-link {
    --bs-icon-link-transform: translate3d(0, -.125rem, 0);
    margin: 0.5rem 1rem;
    font-size: 2rem;
}

.dark-mode:hover {
    transform: translate3d(0, -.125rem, 0);
}

@media (max-width: 374px) {
    .chevron {
        font-size: 1.25rem;
    }
}